<mat-toolbar class="toolbars">

    <mat-toolbar-row class="toolbar-1">
      <img class="logo" src="https://upload.wikimedia.org/wikipedia/en/thumb/b/b2/Embarcadero_Delphi_10.4_Sydney_Product_Logo_and_Icon.svg/1200px-Embarcadero_Delphi_10.4_Sydney_Product_Logo_and_Icon.svg.png" alt="">

        <a href=""><span>Delphi Hoteis</span></a>

    </mat-toolbar-row>

    <mat-toolbar-row class="toolbar-2">
      <a href="">Viagens</a><a href="">Hoteis</a><a href="">Estadias</a>
    </mat-toolbar-row>
 </mat-toolbar>


<router-outlet></router-outlet>
